* {
	background-color: mediumpurple;
	padding-left: 50px;
	padding-right: 50px;
}

a {
	color: orange;
}

ul {
	list-style-type: none;
	text-align: left;
}

.text-body {
	text-align: justify-all;

}

header div {
	padding-top: 100px;
	font-size: 60px;
	text-align: center;

}

header p {
	font-size: 20px;
	padding-bottom: 50px;
	text-align: center;
}

main section article h2 {
	font-size: 30px;
	text-align: center;
	padding-top: 100px;

}


	


main section article p span {
	font-size: 20px;
	text-align: center;
}

main section article p {
	padding-right: 50px;
}

body nav ul img {
	height: 250px;
	width: 250px;
	float: right;
	padding: 20px;
	border-color: white;
	border-width: 20px;
	z-index: 10;
	background-color: #fff;
    padding: 4px;
    padding-top: 10px;


}

div a {
	padding-left: 200px;
}